### Instalar No VSCODE as extensões "Jupyter" e "Python" para rodar tudo

Instalação das bibliotecas

In [468]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (from bs4) (4.12.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4->bs4) (2.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [469]:
pip install requests

Requirement already satisfied: requests in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (from requests) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (from requests) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (from requests) (3.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [470]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [471]:
pip install pandas

Requirement already satisfied: pandas in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aluno\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aluno\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aluno\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [472]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

Importando as bibliotecas
+ Soup
+ Pandas
+ requests

REQUESTS: Funcionando apenas no python 3.9

### Após mudar para o Python 3.9, Rode todos os codigos e instale o kernel que ele vai pedir

In [473]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup
import requests
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

### Hora e data atual da pesquisa

In [474]:
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 quarta-feira, 5 de abril de 2023
21:21

### Dollar

In [475]:

page = requests.get('https://www.google.com/search?q=dolar+hoje&rlz=1C1SQJL_pt-BRBR998BR998&oq=dola&aqs=chrome.1.69i57j0i271l3.3519j0j4&sourceid=chrome&ie=UTF-8&dlnr=1&sei=ykoSZKGROs6H5OUPg5KBoAk', headers = headers)
soup = BeautifulSoup(page.content, 'html.parser')
valor_dolar = soup.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_dolar.text)

5,03

### Aquivo de log para teste do Soup

In [476]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Dollar vale {valor_dolar.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Dollar vale {valor_dolar.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Dollar vale 5,03 reais.
21:21,  quarta-feira, 5 de abril de 2023

### EURO

In [477]:
page3 = requests.get('https://www.google.com/search?q=EURO+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEddQfbnRYqRXtmONwf62sU3XcRjDdQ%3A1680725496187&ei=-NUtZK6TC8nX5OUPjJmt8Ag&ved=0ahUKEwiu76ixxpP-AhXJK7kGHYxMC44Q4dUDCA8&uact=5&oq=EURO+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzINCAAQigUQsQMQgwEQQzILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABEoECEEYAFAAWOwIYPwdaABwAXgAgAGsB4gBwxiSAQswLjEuNC0xLjEuMpgBAKABAcABAQ&sclient=gws-wiz-serp', headers = headers)
soup3 = BeautifulSoup(page3.content, 'html.parser')
valor_euro = soup3.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_euro.text)

5,49

In [478]:
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 quarta-feira, 5 de abril de 2023
21:21

In [479]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Euro vale {valor_euro.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Euro Vale {valor_euro.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Euro Vale 5,49 reais.
21:21,  quarta-feira, 5 de abril de 2023

### Yen

In [480]:
page5 = requests.get('https://www.google.com/search?q=iene+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdebEgkemkBO8HfOuMs8ZABNcQ9Djw%3A1680726613683&ei=VdotZPWwKbOK5OUPk_KeyAI&oq=yen+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMg0IABCKBRCxAxCDARBDMgcIABCABBAKMgcIABCABBAKMgcIABCKBRBDMgcIABCABBAKMggIABAHEB4QCjIHCAAQgAQQCjIICAAQBxAeEAoyCwgAEAcQHhDxBBAKMggIABAHEB4QCjoPCC4QgAQQDRCxAxAKEOoEOgYIABAHEB46GgguEIAEEA0QsQMQChDqBBDcBBDeBBDgBBgBSgQIQRgAUABYhwVgpiJoAHABeACAAZ8BiAGeA5IBAzAuM5gBAKABAcABAdoBBggBEAEYFA&sclient=gws-wiz-serp', headers = headers)
soup5 = BeautifulSoup(page5.content, 'html.parser')
valor_yen = soup5.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_yen.text)

0,038

In [481]:
#Celula contendo data e hora atual
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 quarta-feira, 5 de abril de 2023
21:21

In [482]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Iene  vale {valor_yen.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Iene  Vale {valor_yen.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Iene  Vale 0,038 reais.
21:21,  quarta-feira, 5 de abril de 2023

### Yuan Chinês

In [483]:
page6 = requests.get('https://www.google.com/search?q=yuan+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdfrtzGxfxtaaWsS8DyoRLzNpihc1w%3A1680727688378&ei=iN4tZJDhFrng5OUPj7q8sAc&oq=yuan+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMgsIABCABBCxAxCDATIGCAAQBxAeMgYIABAHEB4yCAgAEAcQHhAKMgYIABAHEB4yBggAEAcQHjIGCAAQBRAeMggIABAFEAcQHjIGCAAQBRAeMgYIABAFEB5KBAhBGABQAFgAYNUMaABwAXgAgAF-iAF-kgEDMC4xmAEAoAECoAEBwAEB&sclient=gws-wiz-serp', headers = headers)
soup6 = BeautifulSoup(page6.content, 'html.parser')
valor_yuan = soup6.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_yuan.text)

0,73

In [484]:
#Celula contendo data e hora atual
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 quarta-feira, 5 de abril de 2023
21:21

In [485]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Yuan Chinês vale {valor_yuan.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Yuan Chinês Vale {valor_yuan.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Yuan Chinês Vale 0,73 reais.
21:21,  quarta-feira, 5 de abril de 2023

### Operando com PANDAS

### Dataframe contendo a raspagem de dados    
+ Dollar
+ Euro
+ Yen
+ Yuan

In [486]:
with open('Log1.txt', 'w') as arquivo:
    arquivo.write(valor_dolar.text)
    arquivo.write(valor_euro.text)
    arquivo.write(valor_yen.text)
    arquivo.write(valor_yuan.text)

In [487]:
Moedeiro = {'Moeda' :['Dollar','Euro','Iene','Yuan Chinês'],
            'Valor(R$)' :[valor_dolar.text, valor_euro.text, valor_yen.text, valor_yuan.text],
            'Hora' :[Hora_agora.text,Hora_agora.text,Hora_agora.text,Hora_agora.text],
            'Data' :[data_atual.text,data_atual.text,data_atual.text,data_atual.text],    
}
moedas_df = pd.DataFrame(Moedeiro)
display(moedas_df)  #Mostrando os valores de moeda e hora no DataFrame.

         Moeda Valor(R$)   Hora                                Data
0       Dollar      5,03  21:21   quarta-feira, 5 de abril de 2023
1         Euro      5,49  21:21   quarta-feira, 5 de abril de 2023
2         Iene     0,038  21:21   quarta-feira, 5 de abril de 2023
3  Yuan Chinês      0,73  21:21   quarta-feira, 5 de abril de 2023

In [488]:
Moedeiro_A = pd.read_excel('Relatório.xlsx')
moedas1_df = pd.DataFrame(Moedeiro_A)
display(moedas1_df)

,Unnamed: 0.1,Moeda,Valor(R$),Hora,Data,Unnamed: 0
0,0,Dollar,"5,03",21:20,"quarta-feira, 5 de abril de 2023",NaN
1,1,Euro,"5,49",21:20,"quarta-feira, 5 de abril de 2023",NaN
2,2,Iene,"0,038",21:20,"quarta-feira, 5 de abril de 2023",NaN
3,3,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023",NaN
4,4,Dollar,"5,03",21:20,"quarta-feira, 5 de abril de 2023",0.0
5,5,Euro,"5,49",21:20,"quarta-feira, 5 de abril de 2023",1.0
6,6,Iene,"0,038",21:20,"quarta-feira, 5 de abril de 2023",2.0
7,7,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023",3.0

### Hora de Salvar dados

In [489]:
#Moedeiro append ao DataFrame
moedas_df = pd.concat([moedas_df,moedas1_df], ignore_index=True)
display(moedas_df)

,Moeda,Valor(R$),Hora,Data,Unnamed: 0.1,Unnamed: 0
0,Dollar,"5,03",21:21,"quarta-feira, 5 de abril de 2023",NaN,NaN
1,Euro,"5,49",21:21,"quarta-feira, 5 de abril de 2023",NaN,NaN
2,Iene,"0,038",21:21,"quarta-feira, 5 de abril de 2023",NaN,NaN
3,Yuan Chinês,"0,73",21:21,"quarta-feira, 5 de abril de 2023",NaN,NaN
4,Dollar,"5,03",21:20,"quarta-feira, 5 de abril de 2023",0.0,NaN
5,Euro,"5,49",21:20,"quarta-feira, 5 de abril de 2023",1.0,NaN
6,Iene,"0,038",21:20,"quarta-feira, 5 de abril de 2023",2.0,NaN
7,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023",3.0,NaN
8,Dollar,"5,03",21:20,"quarta-feira, 5 de abril de 2023",4.0,0.0
9,Euro,"5,49",21:20,"quarta-feira, 5 de abril de 2023",5.0,1.0
10,Iene,"0,038",21:20,"quarta-feira, 5 de abril de 2023",6.0,2.0
11,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023",7.0,3.0

In [490]:
#moedas_df = moedas_df.drop('Unnanmed: 0',axis=0)
#display(moedas_df)

In [491]:
  #Relatando os valores de moeda e hora no DataFrame.
with pd.ExcelWriter("Relatório.xlsx", mode="w", engine="openpyxl") as writer:
    moedas_df.to_excel(writer)