### Instalar No VSCODE as extensões "Jupyter" e "Python" para rodar tudo

In [1]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (23.0.1)
Collecting pip
  Downloading pip-23.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
     ------- -------------------------------- 0.4/2.1 MB 12.5 MB/s eta 0:00:01
     --------- ------------------------------ 0.5/2.1 MB 6.2 MB/s eta 0:00:01
     ---------- ----------------------------- 0.5/2.1 MB 4.8 MB/s eta 0:00:01
     ----------- ---------------------------- 0.6/2.1 MB 3.5 MB/s eta 0:00:01
     ------------ --------------------------- 0.7/2.1 MB 2.9 MB/s eta 0:00:01
     ------------- -------------------------- 0.7/2.1 MB 2.6 MB/s eta 0:00:01
     -------------- ------------------------- 0.8/2.1 MB 2.4 MB/s eta 0:00:01
     -------------- ------------------------- 0.8/2.1 MB 2.4 MB/s eta 0:00:01
     -------------- ------------------------- 0.8/2.1 MB 2.4 MB/s eta 0:00:01
     -------------- ------------------------- 0.8/2.1 MB 2.4 MB/s eta 0:00:01
     -------------- ------------------------- 0.8/2.1 MB 2.4 MB/s eta 0:00:01
     --------------- ------------------------ 0.8/2.1 MB 1.4 MB/s eta 0:00:01
     ---------------- ----------------------- 0.9/2.1 MB 1.4 MB/s eta 0:00:01
     ----------------- ---------------------- 0.9/2.1 MB 1.4 MB/s eta 0:00:01
     ------------------- -------------------- 1.0/2.1 MB 1.4 MB/s eta 0:00:01
     ------------------- -------------------- 1.0/2.1 MB 1.4 MB/s eta 0:00:01
     --------------------- ------------------ 1.1/2.1 MB 1.4 MB/s eta 0:00:01
     ----------------------- ---------------- 1.2/2.1 MB 1.4 MB/s eta 0:00:01
     ------------------------ --------------- 1.3/2.1 MB 1.5 MB/s eta 0:00:01
     ------------------------- -------------- 1.3/2.1 MB 1.4 MB/s eta 0:00:01
     ------------------------- -------------- 1.3/2.1 MB 1.4 MB/s eta 0:00:01
     -------------------------- ------------- 1.4/2.1 MB 1.3 MB/s eta 0:00:01
     --------------------------- ------------ 1.4/2.1 MB 1.3 MB/s eta 0:00:01
     ---------------------------- ----------- 1.5/2.1 MB 1.3 MB/s eta 0:00:01
     ----------------------------- ---------- 1.5/2.1 MB 1.3 MB/s eta 0:00:01
     ------------------------------ --------- 1.6/2.1 MB 1.3 MB/s eta 0:00:01
     ------------------------------- -------- 1.6/2.1 MB 1.3 MB/s eta 0:00:01
     -------------------------------- ------- 1.7/2.1 MB 1.3 MB/s eta 0:00:01
     ---------------------------------- ----- 1.8/2.1 MB 1.3 MB/s eta 0:00:01
     ----------------------------------- ---- 1.8/2.1 MB 1.3 MB/s eta 0:00:01
     ----------------------------------- ---- 1.8/2.1 MB 1.3 MB/s eta 0:00:01
     ------------------------------------ --- 1.9/2.1 MB 1.3 MB/s eta 0:00:01
     ------------------------------------- -- 1.9/2.1 MB 1.2 MB/s eta 0:00:01
     -------------------------------------- - 2.0/2.1 MB 1.2 MB/s eta 0:00:01
     -------------------------------------- - 2.0/2.1 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 1.2 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 1.0 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.1
Note: you may need to restart the kernel to use updated packages.

Instalação das bibliotecas

In [2]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (0.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: beautifulsoup4 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from beautifulsoup4->bs4) (2.3.1)

In [3]:
pip install requests

Requirement already satisfied: requests in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (2.27.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from requests) (3.3)

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\robso\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

Importando as bibliotecas
+ Soup
+ Pandas
+ requests

REQUESTS: Funcionando apenas no python 3.9

### Após mudar para o Python 3.9, Rode todos os codigos e instale o kernel que ele vai pedir

In [7]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup
import requests
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

### Hora e data atual da pesquisa

In [8]:
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 sábado, 15 de abril de 2023
12:28

### Dollar

In [9]:

page = requests.get('https://www.google.com/search?q=dolar+hoje&rlz=1C1SQJL_pt-BRBR998BR998&oq=dola&aqs=chrome.1.69i57j0i271l3.3519j0j4&sourceid=chrome&ie=UTF-8&dlnr=1&sei=ykoSZKGROs6H5OUPg5KBoAk', headers = headers)
soup = BeautifulSoup(page.content, 'html.parser')
valor_dolar = soup.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_dolar.text)

4,91

### Aquivo de log para teste do Soup

In [10]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Dollar vale {valor_dolar.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Dollar vale {valor_dolar.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Dollar vale 4,91 reais.
12:28,  sábado, 15 de abril de 2023

### EURO

In [11]:
page3 = requests.get('https://www.google.com/search?q=EURO+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEddQfbnRYqRXtmONwf62sU3XcRjDdQ%3A1680725496187&ei=-NUtZK6TC8nX5OUPjJmt8Ag&ved=0ahUKEwiu76ixxpP-AhXJK7kGHYxMC44Q4dUDCA8&uact=5&oq=EURO+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzINCAAQigUQsQMQgwEQQzILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABEoECEEYAFAAWOwIYPwdaABwAXgAgAGsB4gBwxiSAQswLjEuNC0xLjEuMpgBAKABAcABAQ&sclient=gws-wiz-serp', headers = headers)
soup3 = BeautifulSoup(page3.content, 'html.parser')
valor_euro = soup3.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_euro.text)

5,45

In [13]:
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 sábado, 15 de abril de 2023
12:29

In [14]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Euro vale {valor_euro.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Euro Vale {valor_euro.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Euro Vale 5,45 reais.
12:29,  sábado, 15 de abril de 2023

### Yen

In [15]:
page5 = requests.get('https://www.google.com/search?q=iene+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdebEgkemkBO8HfOuMs8ZABNcQ9Djw%3A1680726613683&ei=VdotZPWwKbOK5OUPk_KeyAI&oq=yen+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMg0IABCKBRCxAxCDARBDMgcIABCABBAKMgcIABCABBAKMgcIABCKBRBDMgcIABCABBAKMggIABAHEB4QCjIHCAAQgAQQCjIICAAQBxAeEAoyCwgAEAcQHhDxBBAKMggIABAHEB4QCjoPCC4QgAQQDRCxAxAKEOoEOgYIABAHEB46GgguEIAEEA0QsQMQChDqBBDcBBDeBBDgBBgBSgQIQRgAUABYhwVgpiJoAHABeACAAZ8BiAGeA5IBAzAuM5gBAKABAcABAdoBBggBEAEYFA&sclient=gws-wiz-serp', headers = headers)
soup5 = BeautifulSoup(page5.content, 'html.parser')
valor_yen = soup5.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_yen.text)

0,037

In [16]:
#Celula contendo data e hora atual
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 sábado, 15 de abril de 2023
12:29

In [17]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Iene  vale {valor_yen.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Iene  Vale {valor_yen.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Iene  Vale 0,037 reais.
12:29,  sábado, 15 de abril de 2023

### Yuan Chinês

In [18]:
page6 = requests.get('https://www.google.com/search?q=yuan+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdfrtzGxfxtaaWsS8DyoRLzNpihc1w%3A1680727688378&ei=iN4tZJDhFrng5OUPj7q8sAc&oq=yuan+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMgsIABCABBCxAxCDATIGCAAQBxAeMgYIABAHEB4yCAgAEAcQHhAKMgYIABAHEB4yBggAEAcQHjIGCAAQBRAeMggIABAFEAcQHjIGCAAQBRAeMgYIABAFEB5KBAhBGABQAFgAYNUMaABwAXgAgAF-iAF-kgEDMC4xmAEAoAECoAEBwAEB&sclient=gws-wiz-serp', headers = headers)
soup6 = BeautifulSoup(page6.content, 'html.parser')
valor_yuan = soup6.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_yuan.text)

0,71

In [19]:
#Celula contendo data e hora atual
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 sábado, 15 de abril de 2023
12:29

In [20]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Yuan Chinês vale {valor_yuan.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Yuan Chinês Vale {valor_yuan.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Yuan Chinês Vale 0,71 reais.
12:29,  sábado, 15 de abril de 2023

### Operando com PANDAS

### Dataframe contendo a raspagem de dados    
+ Dollar
+ Euro
+ Yen
+ Yuan

In [21]:
with open('Log1.txt', 'w') as arquivo:
    arquivo.write(valor_dolar.text)
    arquivo.write(valor_euro.text)
    arquivo.write(valor_yen.text)
    arquivo.write(valor_yuan.text)

In [22]:
Moedeiro = {'Moeda' :['Dollar','Euro','Iene','Yuan Chinês'],
            'Valor(R$)' :[valor_dolar.text, valor_euro.text, valor_yen.text, valor_yuan.text],
            'Hora' :[Hora_agora.text,Hora_agora.text,Hora_agora.text,Hora_agora.text],
            'Data' :[data_atual.text,data_atual.text,data_atual.text,data_atual.text],    
}
moedas_df = pd.DataFrame(Moedeiro)
display(moedas_df)  #Mostrando os valores de moeda e hora no DataFrame.

         Moeda Valor(R$)   Hora                           Data
0       Dollar      4,91  12:29   sábado, 15 de abril de 2023
1         Euro      5,45  12:29   sábado, 15 de abril de 2023
2         Iene     0,037  12:29   sábado, 15 de abril de 2023
3  Yuan Chinês      0,71  12:29   sábado, 15 de abril de 2023

In [23]:
Moedeiro_A = pd.read_excel('Relatório.xlsx')
moedas1_df = pd.DataFrame(Moedeiro_A)
display(moedas1_df)

,Unnamed: 0,Moeda,Valor(R$),Hora,Data
0,0,Dollar,"4,93",18:31,"quinta-feira, 13 de abril de 2023"
1,1,Euro,"5,44",18:31,"quinta-feira, 13 de abril de 2023"
2,2,Iene,"0,037",18:31,"quinta-feira, 13 de abril de 2023"
3,3,Yuan Chinês,"0,72",18:31,"quinta-feira, 13 de abril de 2023"
4,4,Dollar,"4,93",17:50,"quinta-feira, 13 de abril de 2023"
...,...,...,...,...,...
71,71,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023"
72,72,Dollar,"5,03",21:20,"quarta-feira, 5 de abril de 2023"
73,73,Euro,"5,49",21:20,"quarta-feira, 5 de abril de 2023"
74,74,Iene,"0,038",21:20,"quarta-feira, 5 de abril de 2023"
75,75,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023"

### Hora de Salvar dados

In [24]:
#Moedeiro append ao DataFrame
moedas_df = pd.concat([moedas_df,moedas1_df], ignore_index=True)
display(moedas_df)
moedas_df.drop(["Unnamed: 0"], axis=1, inplace=True)

,Moeda,Valor(R$),Hora,Data,Unnamed: 0
0,Dollar,"4,91",12:29,"sábado, 15 de abril de 2023",NaN
1,Euro,"5,45",12:29,"sábado, 15 de abril de 2023",NaN
2,Iene,"0,037",12:29,"sábado, 15 de abril de 2023",NaN
3,Yuan Chinês,"0,71",12:29,"sábado, 15 de abril de 2023",NaN
4,Dollar,"4,93",18:31,"quinta-feira, 13 de abril de 2023",0.0
...,...,...,...,...,...
75,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023",71.0
76,Dollar,"5,03",21:20,"quarta-feira, 5 de abril de 2023",72.0
77,Euro,"5,49",21:20,"quarta-feira, 5 de abril de 2023",73.0
78,Iene,"0,038",21:20,"quarta-feira, 5 de abril de 2023",74.0
79,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023",75.0

In [25]:

display(moedas_df)

          Moeda Valor(R$)   Hora                                 Data
0        Dollar      4,91  12:29         sábado, 15 de abril de 2023
1          Euro      5,45  12:29         sábado, 15 de abril de 2023
2          Iene     0,037  12:29         sábado, 15 de abril de 2023
3   Yuan Chinês      0,71  12:29         sábado, 15 de abril de 2023
4        Dollar      4,93  18:31   quinta-feira, 13 de abril de 2023
..          ...       ...    ...                                  ...
75  Yuan Chinês      0,73  21:20    quarta-feira, 5 de abril de 2023
76       Dollar      5,03  21:20    quarta-feira, 5 de abril de 2023
77         Euro      5,49  21:20    quarta-feira, 5 de abril de 2023
78         Iene     0,038  21:20    quarta-feira, 5 de abril de 2023
79  Yuan Chinês      0,73  21:20    quarta-feira, 5 de abril de 2023

[80 rows x 4 columns]

In [26]:
  #Relatando os valores de moeda e hora no DataFrame.
with pd.ExcelWriter("Relatório.xlsx", mode="w", engine="openpyxl") as writer:
    moedas_df.to_excel(writer)