### Instalar No VSCODE as extensões "Jupyter" e "Python" para rodar tudo

In [1]:
pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in /usr/lib/python3/dist-packages (22.0.2)
Collecting pip
  Downloading pip-23.1.2-py3-none-any.whl (2.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 752.9 kB/s eta 0:00:0000:0100:01
Installing collected packages: pip
Successfully installed pip-23.1.2
Note: you may need to restart the kernel to use updated packages.

Instalação das bibliotecas

In [2]:
pip install bs4

Defaulting to user installation because normal site-packages is not writeable
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/lib/python3/dist-packages (from bs4) (4.10.0)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1272 sha256=e00d6e9780a857feb1aab31e89e9f8f83b45447f725ba314be9a0ebf5087943b
  Stored in directory: /home/hunterlowbit/.cache/pip/wheels/25/42/45/b773edc52acb16cd2db4cf1a0b47117e2f69bb4eb300ed0e70
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /usr/lib/python3/dist-packages (2.25.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.3 MB/s eta 0:00:0000:0100:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 621.0 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hunterlowbit/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 256.8 kB/s eta 0:00:0000:0100:01
Collecting numpy>=1.21.0 (from pandas)
  Downloading numpy-1.24.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 603.2 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

Importando as bibliotecas
+ Soup
+ Pandas
+ requests

REQUESTS: Funcionando apenas no python 3.9

### Após mudar para o Python 3.9, Rode todos os codigos e instale o kernel que ele vai pedir

In [6]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup
import requests
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

### Hora e data atual da pesquisa

In [7]:
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 sábado, 29 de abril de 2023
10:24

### Dollar

In [8]:

page = requests.get('https://www.google.com/search?q=dolar+hoje&rlz=1C1SQJL_pt-BRBR998BR998&oq=dola&aqs=chrome.1.69i57j0i271l3.3519j0j4&sourceid=chrome&ie=UTF-8&dlnr=1&sei=ykoSZKGROs6H5OUPg5KBoAk', headers = headers)
soup = BeautifulSoup(page.content, 'html.parser')
valor_dolar = soup.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_dolar.text)

4,99

### Aquivo de log para teste do Soup

In [9]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Dollar vale {valor_dolar.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Dollar vale {valor_dolar.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Dollar vale 4,99 reais.
10:24,  sábado, 29 de abril de 2023

### EURO

In [10]:
page3 = requests.get('https://www.google.com/search?q=EURO+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEddQfbnRYqRXtmONwf62sU3XcRjDdQ%3A1680725496187&ei=-NUtZK6TC8nX5OUPjJmt8Ag&ved=0ahUKEwiu76ixxpP-AhXJK7kGHYxMC44Q4dUDCA8&uact=5&oq=EURO+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzINCAAQigUQsQMQgwEQQzILCAAQgAQQsQMQgwEyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABEoECEEYAFAAWOwIYPwdaABwAXgAgAGsB4gBwxiSAQswLjEuNC0xLjEuMpgBAKABAcABAQ&sclient=gws-wiz-serp', headers = headers)
soup3 = BeautifulSoup(page3.content, 'html.parser')
valor_euro = soup3.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_euro.text)

5,55

In [11]:
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 sábado, 29 de abril de 2023
10:24

In [12]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Euro vale {valor_euro.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Euro Vale {valor_euro.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Euro Vale 5,55 reais.
10:24,  sábado, 29 de abril de 2023

### Yen

In [13]:
page5 = requests.get('https://www.google.com/search?q=iene+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdebEgkemkBO8HfOuMs8ZABNcQ9Djw%3A1680726613683&ei=VdotZPWwKbOK5OUPk_KeyAI&oq=yen+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMg0IABCKBRCxAxCDARBDMgcIABCABBAKMgcIABCABBAKMgcIABCKBRBDMgcIABCABBAKMggIABAHEB4QCjIHCAAQgAQQCjIICAAQBxAeEAoyCwgAEAcQHhDxBBAKMggIABAHEB4QCjoPCC4QgAQQDRCxAxAKEOoEOgYIABAHEB46GgguEIAEEA0QsQMQChDqBBDcBBDeBBDgBBgBSgQIQRgAUABYhwVgpiJoAHABeACAAZ8BiAGeA5IBAzAuM5gBAKABAcABAdoBBggBEAEYFA&sclient=gws-wiz-serp', headers = headers)
soup5 = BeautifulSoup(page5.content, 'html.parser')
valor_yen = soup5.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_yen.text)

0,037

In [14]:
#Celula contendo data e hora atual
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 sábado, 29 de abril de 2023
10:25

In [15]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Iene  vale {valor_yen.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Iene  Vale {valor_yen.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Iene  Vale 0,037 reais.
10:25,  sábado, 29 de abril de 2023

### Yuan Chinês

In [16]:
page6 = requests.get('https://www.google.com/search?q=yuan+hoje&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdfrtzGxfxtaaWsS8DyoRLzNpihc1w%3A1680727688378&ei=iN4tZJDhFrng5OUPj7q8sAc&oq=yuan+hoje&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMgsIABCABBCxAxCDATIGCAAQBxAeMgYIABAHEB4yCAgAEAcQHhAKMgYIABAHEB4yBggAEAcQHjIGCAAQBRAeMggIABAFEAcQHjIGCAAQBRAeMgYIABAFEB5KBAhBGABQAFgAYNUMaABwAXgAgAF-iAF-kgEDMC4xmAEAoAECoAEBwAEB&sclient=gws-wiz-serp', headers = headers)
soup6 = BeautifulSoup(page6.content, 'html.parser')
valor_yuan = soup6.find_all('span', class_="DFlfde SwHCTb")[0]
print(valor_yuan.text)

0,72

In [17]:
#Celula contendo data e hora atual
page4 = requests.get('https://www.google.com/search?q=data&rlz=1C1SQJL_pt-BRBR998BR998&sxsrf=APwXEdcupV6LQAigM1YJ-8DRy9SGmmyOjw%3A1680127416747&ei=uLUkZO6JLYPM1sQP_teriAo&ved=0ahUKEwjuxeiukoL-AhUDppUCHf7rCqEQ4dUDCBA&uact=5&oq=data&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIECCMQJzIECCMQJzIHCAAQigUQQzIOCC4QgAQQsQMQxwEQ0QMyDQgAEIoFELEDEIMBEEMyBwgAEIoFEEMyBQgAEIAEMgsIABCABBCxAxCDATIICAAQgAQQsQMyCwgAEIoFELEDEIMBOgoIABBHENYEELADOgoIABCKBRCwAxBDSgQIQRgAUMsFWMoNYPsSaAFwAXgAgAGDAYgBvwWSAQMwLjaYAQCgAQHIAQrAAQE&sclient=gws-wiz-serp', headers = headers)
soup4 = BeautifulSoup(page4.content, 'html.parser')
data_atual = soup4.find_all('div', class_="vk_bk dDoNo FzvWSb")[0]
print(data_atual.text)

page2 = requests.get('https://www.google.com/search?q=hora&oq=hora&aqs=chrome..69i57j0i433i512j0i131i433i457i512j0i402i512j0i512j0i131i433i512j0i512j0i131i433i512j0i512l2.1378j0j1&sourceid=chrome&ie=UTF-8', headers = headers)
soup2 = BeautifulSoup(page2.content, 'html.parser')
Hora_agora = soup2.find_all('div', class_="gsrt vk_bk FzvWSb YwPhnf")[0]
print(Hora_agora.text)

 sábado, 29 de abril de 2023
10:25

In [18]:
with open('Log.txt', 'a') as arquivo:
    arquivo.write(f'\n______________________________________\n1 Yuan Chinês vale {valor_yuan.text} reais.')
    arquivo.write(f'\n{Hora_agora.text}')
    arquivo.write(data_atual.text)
    print(f'\n______________________________________\n1 Yuan Chinês Vale {valor_yuan.text} reais.\n{Hora_agora.text}, {data_atual.text}\n')

______________________________________
1 Yuan Chinês Vale 0,72 reais.
10:25,  sábado, 29 de abril de 2023

### Operando com PANDAS

### Dataframe contendo a raspagem de dados    
+ Dollar
+ Euro
+ Yen
+ Yuan

In [19]:
with open('Log1.txt', 'w') as arquivo:
    arquivo.write(valor_dolar.text)
    arquivo.write(valor_euro.text)
    arquivo.write(valor_yen.text)
    arquivo.write(valor_yuan.text)

In [20]:
Moedeiro = {'Moeda' :['Dollar','Euro','Iene','Yuan Chinês'],
            'Valor(R$)' :[valor_dolar.text, valor_euro.text, valor_yen.text, valor_yuan.text],
            'Hora' :[Hora_agora.text,Hora_agora.text,Hora_agora.text,Hora_agora.text],
            'Data' :[data_atual.text,data_atual.text,data_atual.text,data_atual.text],    
}
moedas_df = pd.DataFrame(Moedeiro)
display(moedas_df)  #Mostrando os valores de moeda e hora no DataFrame.

         Moeda Valor(R$)   Hora                           Data
0       Dollar      4,99  10:25   sábado, 29 de abril de 2023
1         Euro      5,55  10:25   sábado, 29 de abril de 2023
2         Iene     0,037  10:25   sábado, 29 de abril de 2023
3  Yuan Chinês      0,72  10:25   sábado, 29 de abril de 2023

In [21]:
Moedeiro_A = pd.read_excel('Relatório.xlsx')
moedas1_df = pd.DataFrame(Moedeiro_A)
display(moedas1_df)

,Unnamed: 0,Moeda,Valor(R$),Hora,Data
0,0,Dollar,"5,05",19:43,"terça-feira, 25 de abril de 2023"
1,1,Euro,"5,55",19:43,"terça-feira, 25 de abril de 2023"
2,2,Iene,"0,038",19:43,"terça-feira, 25 de abril de 2023"
3,3,Yuan Chinês,"0,73",19:43,"terça-feira, 25 de abril de 2023"
4,4,Dollar,"5,08",19:27,"quarta-feira, 19 de abril de 2023"
...,...,...,...,...,...
95,95,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023"
96,96,Dollar,"5,03",21:20,"quarta-feira, 5 de abril de 2023"
97,97,Euro,"5,49",21:20,"quarta-feira, 5 de abril de 2023"
98,98,Iene,"0,038",21:20,"quarta-feira, 5 de abril de 2023"
99,99,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023"

### Hora de Salvar dados

In [22]:
#Moedeiro append ao DataFrame
moedas_df = pd.concat([moedas_df,moedas1_df], ignore_index=True)
display(moedas_df)
moedas_df.drop(["Unnamed: 0"], axis=1, inplace=True)

,Moeda,Valor(R$),Hora,Data,Unnamed: 0
0,Dollar,"4,99",10:25,"sábado, 29 de abril de 2023",NaN
1,Euro,"5,55",10:25,"sábado, 29 de abril de 2023",NaN
2,Iene,"0,037",10:25,"sábado, 29 de abril de 2023",NaN
3,Yuan Chinês,"0,72",10:25,"sábado, 29 de abril de 2023",NaN
4,Dollar,"5,05",19:43,"terça-feira, 25 de abril de 2023",0.0
...,...,...,...,...,...
99,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023",95.0
100,Dollar,"5,03",21:20,"quarta-feira, 5 de abril de 2023",96.0
101,Euro,"5,49",21:20,"quarta-feira, 5 de abril de 2023",97.0
102,Iene,"0,038",21:20,"quarta-feira, 5 de abril de 2023",98.0
103,Yuan Chinês,"0,73",21:20,"quarta-feira, 5 de abril de 2023",99.0

In [23]:

display(moedas_df)

           Moeda Valor(R$)   Hora                                Data
0         Dollar      4,99  10:25        sábado, 29 de abril de 2023
1           Euro      5,55  10:25        sábado, 29 de abril de 2023
2           Iene     0,037  10:25        sábado, 29 de abril de 2023
3    Yuan Chinês      0,72  10:25        sábado, 29 de abril de 2023
4         Dollar      5,05  19:43   terça-feira, 25 de abril de 2023
..           ...       ...    ...                                 ...
99   Yuan Chinês      0,73  21:20   quarta-feira, 5 de abril de 2023
100       Dollar      5,03  21:20   quarta-feira, 5 de abril de 2023
101         Euro      5,49  21:20   quarta-feira, 5 de abril de 2023
102         Iene     0,038  21:20   quarta-feira, 5 de abril de 2023
103  Yuan Chinês      0,73  21:20   quarta-feira, 5 de abril de 2023

[104 rows x 4 columns]

In [24]:
  #Relatando os valores de moeda e hora no DataFrame.
with pd.ExcelWriter("Relatório.xlsx", mode="w", engine="openpyxl") as writer:
    moedas_df.to_excel(writer)